header, .container{
    background-color: #f8f9fa;
}

.container .navbar{
    padding-left: 8px;
}

.container .row .card{
    margin: -15px auto 30px;
}

.about{
    background-color: #fff;
}

.carousel-caption{
    background-color: #000000a1;
    right: 40%!important;;
    left: 40%!important;;
}